This is an asynchronous retrospective for the <%= release %> release, following
the process described [in the handbook][handbook].

This issue is private (confidential) to the <%= team.name %> group, plus anyone else
who worked with the group during <%= release %>, to ensure everyone feels
comfortable sharing freely. On <%= due_date %>, the issue will be opened up to the public, as long
as everyone is comfortable with this. You're free to redact any comments that
contain information that you'd like to stay private before that date.

Please look at back at your experiences working on this release, ask yourself
- **:+1: what went well this release?**
- **:-1: what didn’t go well this release?**
- **:chart_with_upwards_trend: what can we improve going
forward?**
- **:star2: what praise do you have for the group?**

and honestly describe your thoughts and feelings below.

If there is anything you are not comfortable sharing here, please message your
manager directly. Note, however, that 'Emotions are not only allowed in
retrospectives, they should be encouraged', so we'd love to hear from you here
if possible.

[handbook]: https://about.gitlab.com/handbook/engineering/management/group-retrospectives/


## Process

The retrospective process is split into multiple steps:

- Reporting feedback during the development of the release
- Voting for items we want to focus on
- Discussing top voted items
- Bubbling up some selected items to the company wide retrospective
- Review merged MR ratio of features, maintenance, bugs and undefined
- Source feedback on MR complications



### Reporting feedback

For each point you want to raise, please create a **new discussion** with the
relevant emoji, so that others can weigh in with their perspectives, and so that
we can easily discuss any follow-up action items in-line.

### Voting

A week before the synchronous meetings, voting is opened. Please vote for the items you consider
 more important and want to discuss in a sync meeting.

### Discussing

We hold one US/EMEA and one APAC meeting to discuss voted items synchronously.

### Bubbling up

Retro DRI will report selected items into the company wide retrospective and be responsible
for creating follow-up issues.

<small>This issue was created automatically by this [project](https://gitlab.com/gitlab-org/async-retrospectives).</small>

### Review MR ratios

As part of [cross functional dashboard review](https://about.gitlab.com/handbook/cross-functional-prioritization/cross-functional-dashboard-reviews.html), [review](https://app.periscopedata.com/app/gitlab/976854/Merge-Request-Types-Detail) what types of MR's were merged.

### Source feedback on MR complications

In an effort to [Establish reporting and baseline MR Rate](https://gitlab.com/gitlab-org/modelops/anti-abuse/team-tasks/-/issues/52), source feedback on any MR complications.

<% if updating_description %>
<%= include_template.call('list_issues_with_weight') %>
<% else %>
/label ~retrospective
/due <%= due_date %>
/assign <%= mention_owners %>
<% end %>
