This is an asynchronous retrospective for the <%= release %> release, following
the process described [in the handbook][handbook]. This issue is private (confidential) to the <%= team.name %> group, plus anyone else
who worked with the group during <%= release %>, to ensure everyone feels
comfortable sharing freely. 

Please look at back at your experiences working on this release, ask yourself:

- 🌟 What praise do you have for the team? Any nominations?
- 👍 What went well this release?
- 👎 What did not go well this release?
- 📈 What can we improve or try differently?
- 📊 Planning goals - How well did we do this release?
- 🏆 What were your big achievements this release?
- 📝 What actions taken / outcomes?

and honestly describe your thoughts and feelings below.

For each point you want to raise, please add a comment under the relevant thread. If you think the retro went well and have
nothing to add, please :thumbsup: the issue so others know your opinion.

In discussion threads, add emojis:
- :eyes: items you have read but didn't have any comments to add

Guidance for big achievements:
- P1/S1
- P2/S2 ~type::feature or ~type::bug
- Issues with 5+ 👍

If there is anything you are not comfortable sharing here, please message your
manager directly. Note, however, that 'Emotions are not only allowed in
retrospectives, they should be encouraged', so we'd love to hear from you here
if possible.

[handbook]: https://about.gitlab.com/handbook/engineering/management/group-retrospectives/

<% if updating_description %>
<%= include_template.call('list_issues') %>
<% else %>
/label ~retrospective
/label ~"<%= team.label %>"
/due <%= due_date %>
/assign <%= mention_owners %>
<% end %>
