@gitlab-org/ci-cd/package-stage/container-registry-group This is an asynchronous retrospective for the <%= release %> release, following
the [engineering group retrospective process][handbook] and the [Package retrospective process][package-retrospective-process]

This issue is private (confidential) to the <%= team.name %> group, plus anyone else
who worked with the group during <%= release %>, to ensure everyone feels
comfortable sharing freely. On <%= due_date %>, the issue will be opened up to the public, as long
as everyone is comfortable with this. You're free to redact any comments that
contain information that you'd like to stay private before that date.

### Instructions

Please look back at your experiences working on this release, ask yourself and honestly describe your thoughts and feelings below.

- 🌟 What praise do you have for the group?
- 👍 What went well?
- 👎 What did not go well?
- 📈 What can we improve or try differently?
- 📊 Engineering performance indicators - How well did we do this release?
- What did you learn this milestone?

In discussion threads, add :heavy_plus_sign: reaction to items you want to see bubbled up to the Ops retrospective.

For experiments and actions items, create a new issue in this project and apply the label `follow-up`.

#### Tasks for retro owners

- [ ] When this issue is created, <%= mention_owners %> include in the comments the performance indicators including [type of work ratio][issue-types-by-milestone] and [MR rate][development-dashboard]
- [ ] On the last Friday of the month, <%= mention_owners %> confirm with team members if they are comfortable making the issue public.
- [ ] Redact any personal information and make issue public (turn confidential off)

### Psychological Safety

If there is anything you are not comfortable sharing here, please message your
manager directly. Note, however, that 'Emotions are not only allowed in
retrospectives, they should be encouraged', so we'd love to hear from you here
if possible.


[engineering-retrospective-process]: https://about.gitlab.com/handbook/engineering/management/group-retrospectives/
[package-retrospective-process]: https://about.gitlab.com/handbook/engineering/development/ops/package/#retrospectives
[issue-types-by-milestone]: https://app.periscopedata.com/app/gitlab/1042933/Issue-Types-by-Milestone
[development-dashboard]: https://app.periscopedata.com/app/gitlab/681347/Development-Embedded-Dashboard

<% if updating_description %>
<%= include_template.call('list_issues') %>
<% else %>
/label ~retrospective
/label ~"<%= team.label %>"
/due <%= due_date %>
/assign <%= mention_owners %>
<% end %>


<small>This issue was created automatically by this [project](https://gitlab.com/gitlab-org/async-retrospectives).</small>



