This is an asynchronous retrospective for <%= Date.today.next_month.strftime("%B %Y") %>
aligned with the development of the <%= release %> release, following the process 
described [in the handbook][handbook].

This issue is private (confidential) to the <%= team.name %> team, to ensure everyone feels
comfortable sharing freely.

Please look back at your experiences during this period, ask yourself:

- **:star2: what praise do you have for the group?**
- **:+1: what went well?**
- **:-1: what didn’t go well?**
- **:chart_with_upwards_trend: what can we improve?**

and honestly describe your thoughts and feelings below.

For each point you want to raise, please add to the pre created **discussion** with the
relevant emoji, so that others can weigh in with their perspectives, and so that
we can easily discuss any follow-up action items in-line. If you think the retro went well and have
nothing to add, please :thumbsup: the issue so others know your opinion.

In discussion threads, add emojis:
- :microphone: items you want to discuss during our synchronous discussion
- :up: items you want to see bubbled UP to the CS management team
- :eyes: items you have read but didn't have any comments to add

If there is anything you are not comfortable sharing here, please message your
manager directly. Note, however, that 'Emotions are not only allowed in
retrospectives, they should be encouraged', so we'd love to hear from you here
if possible.

## How it works

* On the **27th** (the day after the previous retrospective closes), a 
'skeleton issue' is created.
* On the **16th**, it mentions the team to encourage them to contribute.
* On the **last Friday of the month**, a synchronous retrospective is scheduled to discuss feedback and capture actions.

[handbook]: https://about.gitlab.com/handbook/engineering/management/group-retrospectives/

<small>This issue was created automatically by this [project](https://gitlab.com/gitlab-org/async-retrospectives).</small>

/label ~retrospective
/label ~"<%= team.label %>"
/due <%= due_date %>
/assign <%= mention_owners %>
