<%= include_template.call('default') %>

### Instructions

1. When this issue is created <%= mention_owners %> will add a checklist
   of action items from the previous retrospective.
2. Every team meeting, we'll have a call to action on adding items to
   the team retrospective.
3. The team should add retro items in the discoto style, prefixing the
   topics with `Topic: `. Then the topics will be summarized for us.
3. The first Tuesday after the milestone concludes, we'll go through
   and discuss items added to the retro and generate action items for
   the next milestone.

<% if updating_description %>
<%= include_template.call('list_issues') %>
<% else %>
/label ~retrospective
/label ~"<%= team.label %>"
/due <%= due_date %>
/assign <%= mention_owners %>
/label ~"discoto-beta"
<% end %>
