@gitlab-org/distribution This is an asynchronous retrospective for the <%= release %> release, following
the process described [in the handbook][handbook].

Please look at back at your experiences working on this release, ask yourself:
**:+1: what went well this release?**
**:-1: what didn’t go well this release?**
**:chart_with_upwards_trend: what can we improve going forward?**

For each point you want to raise, please post to the related discussion thread, so that others can weigh in with their perspectives, and so that
we can easily discuss any follow-up action items in-line.

If there is anything you are not comfortable sharing here, please message your
manager directly. Note, however, that 'Emotions are not only allowed in
retrospectives, they should be encouraged', so we'd love to hear from you here
if possible.

[handbook]: https://about.gitlab.com/handbook/engineering/management/group-retrospectives/

<% if updating_description %>
<%= include_template.call('list_issues') %>
<% else %>
/label ~retrospective
/label ~"<%= team.label %>"
/due <%= due_date %>
/assign <%= mention_owners %>
<% end %>
