@geo-team This is an asynchronous retrospective for the <%= release %> release, following
the process described [in the handbook][handbook].

Please look at back at your experiences working on this release and ask yourself:
* What went well?
* What did not go well?
* What can we improve or try differently?
* What praise do you have for the group?

then share your thoughts and feelings below.

If there is anything you are not comfortable sharing here, please message your
manager directly. Note, however, that 'Emotions are not only allowed in
retrospectives, they should be encouraged', so we'd love to hear from you here
if possible.

[handbook]: https://about.gitlab.com/handbook/engineering/management/group-retrospectives/

<% if updating_description %>
<%= include_template.call('list_issues') %>
<% else %>
/label ~retrospective
/label ~"<%= team.label %>"
/due <%= due_date %>
/assign <%= mention_owners %>
<% end %>
