This is an asynchronous retrospective for the <%= release %> release, following
the process described [in the handbook][handbook].

This issue is private (confidential) to the <%= team.name %> group, plus anyone else
who worked with the group during <%= release %>, to ensure everyone feels
comfortable sharing freely. On <%= due_date %>, the issue will be opened up to the public, as long
as everyone is comfortable with this. You're free to redact any comments that
contain information that you'd like to stay private before that date.

### Instructions

Please look back at your experiences working on this release, ask yourself:

- **:star2: What praise do you have for the group?**
- **:+1: What went well?**
- **:-1: What did not go well?**
- **:chart_with_upwards_trend: What can we improve going forward?**
- **:mortar_board: What did you learn this milestone?**

For each point you want to raise, please create a **new discussion** with the
relevant emoji, so that others can weigh in with their perspectives, and so that
we can easily discuss any follow-up action items in-line.

If there is anything you are not comfortable sharing here, please message your
manager directly. Note, however, that 'Emotions are not only allowed in
retrospectives, they should be encouraged', so we'd love to hear from you here
if possible.

[handbook]: https://about.gitlab.com/handbook/engineering/management/group-retrospectives/

<% if updating_description %>
## Features shipped in <%= release %>

A total of <%= features.count %> [features] (closed issues with ~"type::feature" label):

<% features.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %>
<% end %>
<% if features.empty? %>
No features
<% end %>

## Bugs fixed in <%= release %>

A total of <%= bugs.count %> [bugs] (closed issues with ~"type::bug" label):

<% bugs.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %>
<% end %>
<% if features.empty? %>
No features
<% end %>

## All

- A total of <%= issue_count %> [issues closed][All closed issues].
- A total of <%= merge_request_count %> [MR merged][All merged MRs].

## Slipped

A total of <%= slipped.count %> [issues slipped][Issues that slipped].

[features]: https://gitlab.com/<%= "#{issue_url_prefix}" %>state=closed&label_name[]=<%= ERB::Util.url_encode(team.label) %>&label_name[]=type::feature&milestone_title=<%= release %>
[bugs]: https://gitlab.com/<%= "#{issue_url_prefix}" %>state=closed&label_name[]=<%= ERB::Util.url_encode(team.label) %>&label_name[]=type::bug&milestone_title=<%= release %>
[All closed issues]: https://gitlab.com/<%= "#{issue_url_prefix}" %>state=closed&label_name[]=<%= ERB::Util.url_encode(team.label) %>&milestone_title=<%= release %>
[Issues that slipped]: https://gitlab.com/<%= "#{issue_url_prefix}" %>label_name[]=<%= ERB::Util.url_encode(team.label) %>&label_name[]=missed%3A<%= release %>
[Open follow-up issues from previous retros]: https://gitlab.com/gl-retrospectives/<%= team.project %>/issues?label_name[]=follow-up
[All merged MRs]: https://gitlab.com/groups/gitlab-org/-/merge_requests?state=merged&label_name[]=<%= ERB::Util.url_encode(team.label) %>&milestone_title=<%= release %>

<%= include_template.call('vsa_references') %>
<% else %>
/label ~retrospective
/label ~"<%= team.label %>"
/due <%= due_date %>
/assign <%= mention_owners %>
<% end %>
