<%= include_template.call('default') %>

<% if updating_description %>

## Acknowledge completing retrospective

Please check the box under your username to acknowledge you have finished retrospective. Please note it's okay you check the box without leaving comments.

<% Team::TEAM_MEMBER_FIELDS.each do |people| %>
  <% next if team[people].nil? || team[people].empty? %>
  <% team[people].each do |username| %>
- [ ] @<%= username %>
  <% end %>
<% end %>

<% end %>
