This is an asynchronous retrospective for the <%= release %> release, following
the process described [in the handbook][handbook].

This issue is private (confidential) to the <%= team.name %> group, plus anyone else
who worked with the group during <%= release %>, to ensure everyone feels
comfortable sharing freely. On <%= due_date %>, the issue will be opened up to the public, as long
as everyone is comfortable with this. You're free to redact any comments that
contain information that you'd like to stay private before that date.

Please look at back at your experiences working on this release, ask yourself:

- **:star2: what praise do you have for the group?**
- **:+1: what went well this release?**
- **:-1: what didn’t go well this release?**
- **:chart_with_upwards_trend: what can we improve?**
- **:calendar: issues that went beyond their estimation**

and honestly describe your thoughts and feelings below.

For each point you want to raise, please create a **new discussion** with the
relevant emoji, so that others can weigh in with their perspectives, and so that
we can easily discuss any follow-up action items in-line. If you think the retro went well and have
nothing to add, please :thumbsup: the issue so others know your opinion.

In discussion threads, add emojis:
- :microphone: items you want to discuss during our synchronous discussion(s)
- :up: items you want to see bubbled UP to the company-wide retrospective
- :eyes: items you have read but didn't have any comments to add

If there is anything you are not comfortable sharing here, please message your
manager directly. Note, however, that 'Emotions are not only allowed in
retrospectives, they should be encouraged', so we'd love to hear from you here
if possible.

[handbook]: https://about.gitlab.com/handbook/engineering/management/group-retrospectives/

<% if updating_description %>
<%= include_template.call('list_issues') %>
<% else %>
/label ~retrospective
/label ~"<%= team.label %>"
/due <%= due_date %>
/assign <%= mention_owners %>
<% end %>
