## Issues we shipped (Deliverable)

<% deliverables.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %> (<%= issue['weight'] || '-' %>)
<% end %>

[More issues] - the list above only includes deliverables!

## [Issues that slipped]

<% slipped.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %>
<% end %>
<% if slipped.empty? %>
No missed deliverables found; great job!
<% end %>
<% if follow_up.any? %>

## [Open follow-up issues from previous retros]

<% follow_up.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %>
<% end %>
<% end %>

[More issues]: https://gitlab.com/<%= "#{issue_url_prefix}" %>state=closed&label_name[]=<%= ERB::Util.url_encode(team.label) %>&milestone_title=<%= release %>
[Issues that slipped]: https://gitlab.com/<%= "#{issue_url_prefix}" %>label_name[]=<%= ERB::Util.url_encode(team.label) %>&label_name[]=missed%3A<%= release %>
[Open follow-up issues from previous retros]: https://gitlab.com/gl-retrospectives/<%= team.project %>/issues?label_name[]=follow-up

- Total deliverables closed: <%= deliverables.headers['X-Total'] %>
- Total issues closed: <%= issue_count %> (weight: <%= total_weight %>)
- Total MRs merged: <%= merge_request_count %>

<% if defined?(issues_with_additional_label) && issues_with_additional_label %>
## <%= defined?(additional_label) && additional_label ? "#{additional_label}" : 'Additional labelled' %> issues we closed
<% issues_with_additional_label.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %> (<%= issue['weight'] || '-' %>)
<% end %>
<% end %>
