## Issues we shipped

Deliverables (closed issues with ~Deliverable label for <%= release %> milestone):
<% deliverables.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %>
<% end %>

<% if deliverables.empty? %>
No deliverables
<% end %>

[All closed issues] (within <%= release %> milestone)

## [Issues that slipped]

<% slipped.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %>
<% end %>
<% if slipped.empty? %>
No missed issues for <%= release %> found; great job!
<% end %>
<% if follow_up.any? %>

## [Open follow-up issues from previous retros]

<% follow_up.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %>
<% end %>
<% end %>

[All closed issues]: https://gitlab.com/<%= "#{issue_url_prefix}" %>state=closed&label_name[]=<%= ERB::Util.url_encode(team.label) %>&milestone_title=<%= release %>
[Issues that slipped]: https://gitlab.com/<%= "#{issue_url_prefix}" %>label_name[]=<%= ERB::Util.url_encode(team.label) %>&label_name[]=missed%3A<%= release %>
[Open follow-up issues from previous retros]: https://gitlab.com/gl-retrospectives/<%= team.project %>/issues?label_name[]=follow-up

- Total deliverables closed: <%= deliverables.headers['X-Total'] %>
- Total issues closed: <%= issue_count %>
- Total MRs merged: <%= merge_request_count %>
