This is an asynchronous retrospective for the <%= release %> release, following
the process described [in the handbook][handbook].

This issue is private (confidential) to the <%= team.name %> group, plus anyone else
who worked with the group during <%= release %>, to ensure everyone feels
comfortable sharing freely. On <%= due_date %>, the issue will be opened up to the public, as long
as everyone is comfortable with this. You're free to redact any comments that
contain information that you'd like to stay private before that date.

Please look back at your experiences working on this release, ask yourself:

- **🧊:pick: [Find an ice breaker question][ice breaker ideas]**
- **:star2: what praise do you have for the group?**,
- **:+1: what went well this release?**
- **:-1: what didn’t go well this release?**
- **:chart_with_upwards_trend: what can we improve going forward?**

For each point you want to raise, please reply to each thread below,
so that others can weigh in with their perspectives, and so that
we can easily discuss any follow-up action items in-line.

If there is anything you are not comfortable sharing here, please message your
manager directly. Note, however, that 'Emotions are not only allowed in
retrospectives, they should be encouraged', so we'd love to hear from you here
if possible.

[handbook]: https://handbook.gitlab.com/handbook/engineering/management/group-retrospectives/
[ice breaker ideas]: https://metroretro.io/blog/unique-ideas-for-great-icebreakers

<% if updating_description %>
<%= include_template.call('list_issues') %>

<%= include_template.call('vsa_references') %>
<% else %>
/label ~retrospective
/label ~"devops::package"
/due <%= due_date %>
/assign <%= mention_owners %>
<% end %>

Retro Owners - please remember to follow this checklist before closing this retrospective
- [ ] Redact any personal information 
- [ ] Make issue public (turn confidential off)
