This is an asynchronous retrospective for the <%= release %> release, following
the process described [in the handbook][handbook].

This issue is private (confidential) to the <%= team.name %> group, plus anyone else
who worked with the group during <%= release %>, to ensure everyone feels
comfortable sharing freely.

Please look at back at your experiences working on this release, ask yourself
**:star2: what praise do you have for the group?**,
**:+1: what went well this release?**, **:-1: what didn’t go well this
release?**, and **:chart_with_upwards_trend: what can we improve going
forward?**, and honestly describe your thoughts and feelings below.

For each point you want to raise, please create a **new discussion** with the
relevant emoji, so that others can weigh in with their perspectives, and so that
we can easily discuss any follow-up action items in-line.

If there is anything you are not comfortable sharing here, please message your
manager directly. Note, however, that 'Emotions are not only allowed in
retrospectives, they should be encouraged', so we'd love to hear from you here
if possible.

[handbook]: https://about.gitlab.com/handbook/engineering/management/group-retrospectives/

<% if updating_description %>
## Issues we shipped

<% p1 = issues.select { |issue| issue["labels"].include?("milestone::p1") } %>
<% p2p3 = issues.select { |issue| issue["labels"].include?("milestone::p2") || issue["labels"].include?("milestone::p3") } %>

### P1 (closed issues with ~milestone::p1 label for <%= release %> milestone):
<% p1.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %>
<% end %>
<% if p1.empty? %>
No P1 issues completed
<% end %>

### P2/P3 (closed issues with ~milestone::p2 or ~milestone::p3 label for <%= release %> milestone):
<% p2p3.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %>
<% end %>
<% if p1.empty? %>
No P2 or P3 issues completed
<% end %>

[All closed issues] (within <%= release %> milestone)

## [Issues that slipped]

<% slipped.each do |issue| %>
1. <%= issue.dig('references', 'full').to_s + '+' %>
<% end %>
<% if slipped.empty? %>
No missed issues for <%= release %> found; great job!
<% end %>

[All closed issues]: https://gitlab.com/<%= "#{issue_url_prefix}" %>state=closed&label_name[]=<%= ERB::Util.url_encode(team.label) %>&milestone_title=<%= release %>
[Issues that slipped]: https://gitlab.com/<%= "#{issue_url_prefix}" %>label_name[]=<%= ERB::Util.url_encode(team.label) %>&label_name[]=missed%3A<%= release %>

- Total P1 issues closed: <%= p1.size %>
- Total issues closed: <%= issue_count %> (weight: <%= total_weight %>)
- Total MRs merged: <%= merge_request_count %>
<% else %>
/label ~retrospective
/label ~"<%= team.label %>"
/due <%= due_date %>
/assign <%= mention_owners %>
<% end %>
