This is an asynchronous retrospective for <%= release %>. Retrospectives are for the [UX Department][ux-department] as a whole. 

This issue is private to the UX team, plus anyone else that worked with the team during <%= release %>. Retrospectives follow the process described [in the handbook][handbook].

Please feel free to honestly describe your thoughts and feelings about working
on that release below.

If there is something you are not comfortable sharing, message your manager
directly. But note that 'Emotions are not only allowed in retrospectives, but
they should also be encouraged', so we'd love to hear from you here if
possible.

@gitlab-com/gitlab-ux

[ux-department]: https://about.gitlab.com/company/team/?department=ux-department
[handbook]: https://about.gitlab.com/handbook/engineering/management/team-retrospectives/

<% unless updating_description %>
/label ~retrospective
/due <%= due_date %>
/assign <%= mention_owners %>
<% end %>
