## Analyze the time spent on the related work for the last milestone using Value Stream Analytics

Value Stream Analytics (VSA) automatically collects data on how long each stage of the development process takes.

- Here is your group [custom VSA link for the last milestone](https://gitlab.com/<%= "#{vsa_url_prefix}" %>value_stream_id=631&created_after=<%= release_start_date %>&created_before=<%= release_due_date %>&label_name[]=<%= ERB::Util.url_encode(team.label) %>&milestone_title=<%= release %>).
- You can track MR review time by clicking on the "Review Stage" to see the time measured from “Merge Request Reviewer First Assigned” to “Merge Request Last Approved At”.
- It would be great to get your ~dogfooding feedback on VSA. Give it a try and leave your comments in https://gitlab.com/gitlab-org/gitlab/-/issues/520962.
- [Known issues & feature gaps](https://gitlab.com/gitlab-org/plan-stage/product/-/issues/27#known-issues--feature-gaps)